// About Blurb Styles

.blurb {
  grid-area: content;
  height: 100vh;

  .inner-blurb {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    
    .blurb-text {
      align-self: center;
      justify-self: center;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h3 {
        margin: 0;
        font-size: var(--mLgFontSize);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: var(--spaced);
      }

      p {
        font-size: var(--baseFontSize);
        line-height: var(--paraLineHeight);
        margin: 40px 0 72px 0;
      }

      .btn-row {
        a {
          cursor: pointer;
          font-size: var(--baseFontSize);
          font-weight: 700;
          text-decoration: none;
          letter-spacing: var(--spaced);
          color: $black;
          text-transform: uppercase;
        }
      }
    }

    .blurb-images {
      height: 75vh;
      position: relative;
      z-index: 7;
      display: grid;
      gap: var(--photoGap);
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}