// About Blurb Styles

.about {
  grid-area: content;
  height: 100vh;

  @include media("<=tablet") {
    margin-top: var(--contentMargin);
    height: unset;
  }

  .inner-about {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    
    @include media("<=tablet") {
      @include flexCenterCol;
      height: unset;

    }

    .about-text {
      align-self: flex-start;
      justify-self: center;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @include media("<=tablet") {
        width: 80%;
        align-self: center;
        color: $white;
      }

      h3 {
        margin: 0;
        font-size: var(--xLgFontSize);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: var(--FourXSpaced);
        
        @include media("<=tablet") {
         font-size: var(--lgFontSize);
        }
      }

      p {
        @include paragraphText($black);
        margin: 40px 0 72px 0;

        @include media("<=tablet") {
          color: $white;
          margin: 5vh 0;
        }
      }

      .btn-row {
        a {
          cursor: pointer;
          font-size: var(--baseFontSize);
          font-weight: 700;
          text-decoration: none;
          letter-spacing: var(--spaced);
          color: $black;
          text-transform: uppercase;
        }
      }
    }

    .about-images {
      height: 75vh;
      position: relative;
      z-index: 7;
      display: grid;
      gap: var(--photoGap);
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 100%;
      
      @include media("<=tablet") {
        display: none;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}