.contact-section {
  position: relative;
  min-height: 87.5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .absolute-container {
    position: absolute;
    width: 100vw;
    height: 100%;

    .flex-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .content {
        @include flexCenterCol;
        flex-direction: column-reverse;
        position: relative;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;

        video {
          width: 100%;
          outline: none;
        }

        .contact-form {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: $blackTr2;
          display: grid;
          grid-template-columns: 17.5vh repeat(2, calc(50% - 17.5vh)) 17.5vh;
          grid-template-rows: 100%;
          grid-template-areas: "marginL contentL contentR marginR";

          .contact-blurb {
            grid-area: contentL;
            height: 80%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            color: $white;

            
            .contact-header {
              font-size: var(--headerFontSize);
              margin: 0;
            }

            p {
              font-size: var(--mFontSize);
              margin-bottom: 0;
            }
          }

          .contact-input {
            grid-area: contentR;
            height: 80%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            
            .shrink-wrapper {
              position: relative;
              height: 15vh;
              width: 100%;
              display: flex;
              flex-direction: column;

              &::after {
                @include pseudoBorderBottom(100%, $white);
              }

              .email-label {
                position: absolute;
                top: 40%;
                left: var(--photoGap);
                font-size: var(--mLgFontSize);
                letter-spacing: var(--TwoXSpaced);
                color: $whiteTr;
                transition: all .4s;
              }

              .email-input {
                height: 15vh;
                width: 100%;
                background-color: transparent;
                padding-top: var(--photoGap);
                padding-left: var(--photoGap);
                border: none;
                font-size: var(--mLgFontSize);
                letter-spacing: var(--TwoXSpaced);
                color: $whiteTr;
                outline: none;

                &:focus + label {
                  color: $greyDark2;
                  transform-origin: left;
                  transform: scale(.5) translateY(-150%);
                }
              }
              
              .submit-arrow {
                position: absolute;
                top: 40%;
                right: 0;
                background-color: transparent;
                height: 40px;
                width: 40px;
                transform: rotate(-90deg);
                transition: all .3s;
                stroke: $white;

                path {
                  fill: transparent;
                  transition: all .7s;
                }

                &:hover {
                  transform: rotate(-90deg) translateY(.5rem);
                  
                  path {
                    fill: $white;
                  }
                }
              }
            }
          }
        }      
      }
    }
  }
}

.mobile-contact {
  width: 100vw;
  
  &__header {
    position: relative;
    height: calc(var(--mVh) * 40);
    width: 100vw;
    background-color: steelblue;
  }

  .header-text {
    @include flexCenterCol;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    align-items: flex-start;
    font-weight: 700;
    color: $whiteTr2;
    overflow: hidden;
    
    span {
      @include flexCenter;
      font-size: calc(var(--mVh) * 12);
      height: 33%;
    }
  }

  .contact-text {
    @include flexCenter;
    margin: calc(var(--contentMargin) / 2) 0;

    p {
      width: 80%;
      color: $white;
    }
  }

  .mobile-email {
    @include flexCenter;
    cursor: pointer;
    margin: 4rem 0 2rem 0;
    font-family: $font-code;
    font-size: var(--mFontSize);
    color: $white;

    .domain {
      color: $turquoise;
    }
  }
}