.gallery {
  grid-area: content;
  position: relative;
  z-index: $condor;
  overflow-x: hidden;
  margin-top: calc(-1 * var(--contentMargin));
  margin-bottom: calc(var(--contentMargin) * 3);
  padding-bottom: var(--contentMargin);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media("<=tablet") {
    width: 100vw;
    margin: 0;
  }

  .modal {
    z-index: $soyuz;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $blackTr1;
    @include flexCenter;
    
    &-image {
      @include flexCenter;
      height: 95%;
      width: 95%;
      div {
        width: 90%;
        max-height: 95%;
      }
    }

    img {
      width: 100%;
      object-fit: contain !important;
    }
  }

  .back-to-top {
    z-index: $condor;
    position: fixed;
    bottom: calc(var(--contentMargin) / 2);
    left: calc(var(--contentMargin) * 1.5);
    color: $whiteTr;
    text-transform: uppercase;
    letter-spacing: var(--xSpaced);
    cursor: pointer;
    transition: all .2s;

    &:hover {
      color: $white;
    }
  }

  .gallery-btn {
    @include media("<=tablet") {
      display: none;
    }

    @include flexCenter;
    transition: all .2s;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: var(--contentMargin);
    font-size: .875rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    // mix-blend-mode: difference;

    &.left {
      position: fixed;
      top: var(--contentMargin);
      left: 0;

      &:hover {
        svg path {
          fill: $black;
        }
      } 

      .rotate-wrapper a {
        transform: rotate(-90deg) translate(50%);
        display: flex;
        align-items: center;
      }

      .gallery-home__btn {
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
        stroke: $black;
        transition: all .2s;
        
        path {
          fill: transparent;
        }
      }
    }

    &.season-selectors {
     
      position: fixed;
      top: var(--contentMargin);
      right: 0;
      
      flex-direction: column;
      justify-content: space-evenly;

      .selector {
        transform: translateY(-150%) rotate(-90deg );
        color: grey;
        transition: all .2s;

        &:hover,
        &:active,
        &:focus {
          color: black;
          transform-origin: center;
          transform: scale(1.1) translateY(-150%) rotate(-90deg );
        }
      }
    }
    
  }

  .chevron {
    position: fixed;
    position: absolute;
    z-index: 9;
    height: 27px;
    width: 20px;
    top: 50.5%;
    left: 2.57w;
    transform: translateY(-50%);
    // mix-blend-mode: difference;
    transition: all .4s;
    
    path {
      fill: black;
    }

    &:hover {
      transform: translateY(-50%) translateX(-3px);
    }
  }

  .absolute-wrapper {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--contentMargin));
    height: 100%;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include media("<=tablet") {
      margin: 0;
      left: 0;
    }

    .nav-vis-trigger {
      z-index: $soyuz;
      position: absolute;
      top: 10px;
      left: 0;
      height: var(--contentMargin);
      width: 100vw;
    }

    .grid-wrapper {
      @include galleryDeskGrid;
      position: relative;
      z-index: 99;
      width: calc(100vw - (var(--contentMargin) * 2));
      transform: translateY(calc(var(--contentMargin) - 16px));
      display: grid;

      @include media("<=tablet") {
        @include galleryMobileGrid;
        width: 100vw;
        margin: 1vh;
        transform: translateY(0);

          .photo40 img {
            object-position: 80% !important;
          }
          .photo37 img {
            object-position: 80% !important;
          }
      }

      @media (orientation: landscape) and (max-width: 1024px) {
        grid-template-rows: repeat(64, 33vh);
      }
      
      .space {
        grid-area: sp;
        height: 100%;
        width: 100%;
      }

      .photo {
        height: 100%;
        width: 100%;

        div {
          height: 100%;
          width: 100%;
        }

        img {
          object-fit: cover !important;
          height: 100%;
        }
        
        // Left column
        &1 {
          @include media("<=tablet") {
            grid-area: photoL1;
          }
        }
        &2 {
          @include media("<=tablet") {
            grid-area: photoL2;
          }
        }

        // Left center column
        &3 {
          @include media("<=tablet") {
            grid-area: photoR1;
          }
        }
        &4 {
          img {
            object-position: left !important;
          }
          @include media("<=tablet") {
            grid-area: photoR2;
          }
        }
        &5 {
          @include media("<=tablet") {
            grid-area: photoR3;
          }
        }
        &6 {
          @include media("<=tablet") {
            grid-area: photoC1;
          }
        }
        &7 {
          @include media("<=tablet") {
            grid-area: photoL3;
          }
        }
        &8 {
          @include media("<=tablet") {
            grid-area: photoR4;
          }
        }
        &9 {
          @include media("<=tablet") {
            grid-area: photoL4;
          }
        }
        &10 {
          @include media("<=tablet") {
            grid-area: photoL5;
          }
        }
        &11 {
          @include media("<=tablet") {
            grid-area: photoL6;
          }
        }
        &12 {
          @include media("<=tablet") {
            grid-area: photoR5;
          }
        }
        &13 {
          @include media("<=tablet") {
            grid-area: photoR6;
          }
        }
      }
    }
  }
}


.gallery-trigger {
  position: absolute;
  bottom: -10vh;
  width: 100vw;
  height: 5px;
}