.gallery {
  grid-area: content;
  position: relative;
  margin-top: var(--contentMargin);
  margin-bottom: calc(var(--contentMargin) * 3);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .gallery-btn {
    @include flexCenter;
    transition: all .2s;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: var(--contentMargin);
    font-size: .875rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    // mix-blend-mode: difference;

    &.left {
      position: fixed;
      top: var(--contentMargin);
      left: 0;

      &:hover {
        svg path {
          fill: $black;
        }
      } 

      .rotate-wrapper a {
        transform: rotate(-90deg) translate(50%);
        display: flex;
        align-items: center;
      }

      .gallery-home__btn {
        height: 30px;
        width: 30px;
        transform: rotate(180deg);
        stroke: $black;
        transition: all .2s;
        
        path {
          fill: transparent;
        }
      }
    }

    &.season-selectors {
     
      position: fixed;
      top: var(--contentMargin);
      right: 0;
      
      flex-direction: column;
      justify-content: space-evenly;

      .selector {
        transform: translateY(-150%) rotate(-90deg );
        color: grey;
        transition: all .2s;

        &:hover,
        &:active,
        &:focus {
          color: black;
          transform-origin: center;
          transform: scale(1.1) translateY(-150%) rotate(-90deg );
        }
      }
    }
    
  }

  .chevron {
    position: fixed;
    position: absolute;
    z-index: 9;
    height: 20px;
    width: 20px;
    top: 50.5%;
    left: 2.5vw;
    transform: translateY(-50%);
    // mix-blend-mode: difference;
    transition: all .4s;
    
    path {
      fill: black;
    }

    &:hover {
      transform: translateY(-50%) translateX(-3px);
    }
  }

  .absolute-wrapper {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--contentMargin));
    height: 100%;
    width: 100vw;
    overflow-y: scroll;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    .grid-wrapper {
      position: relative;
      z-index: 99;
      height: 120vh;
      width: calc(100vw - (var(--contentMargin) * 2));
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 16px;
      grid-template-areas: 
        "photoLT photoCLT photoCRT photoRT"
        "photoLT photoCLT photoCRT photoRT"
        "photoLT photoCLM photoCRT photoRB"
        "photoLB photoCLM photoCRM photoRB"
        "photoLB photoCLB photoCRB photoRB"
        "photoLB photoCLB photoCRB photoRB"
      ;

      .photo {

        div {
          height: 100%;
          width: 100%;
        }

        img {
          object-fit: cover;
          height: 100%;
        }
        
        // Left column
        &1 {
          grid-area: photoLT;
        }
        &2 {
          grid-area: photoLB;
        }

        // Left center column
        &3 {
          grid-area: photoCLT;
        }
        &4 {
          grid-area: photoCLM;
        }
        &5 {
          grid-area: photoCLB;
        }

        // Right center column
        &6 {
          grid-area: photoCRT;
        }
        &7 {
          grid-area: photoCRM;
        }
        &8 {
          grid-area: photoCRB;
        }

        // Right column
        &9 {
          grid-area: photoRT;
        }
        &10 {
          grid-area: photoRB;
        }
      }
    }
  }
}


.gallery-trigger {
  position: absolute;
  bottom: -10vh;
  width: 100vw;
  height: 5px;
}