.header {
  position: fixed;
  z-index: $condor;
  top: 0;
  height: var(--contentMargin);
  width: 100%;
  background-color: #fff;

  @include media("<=tablet") {
    display: none;
  }

  .inner-header {
    height: var(--contentMargin);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .nav-header {
        @include media("<=tablet") {
          display: none;
        }

        font-size: var(--mFontSize);
        letter-spacing: var(--xSpaced);

        .racing {
          font-weight: 200 !important;
        }
      }

      .logo {
        height: var(--contentMargin);
        width: var(--contentMargin);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transform: translateY(1vh) scale(0.75);
          &:hover {
            path {
              stroke: black;
              stroke-width: 1px;
              fill-opacity: 1;
            }
          }
        }
        path {
          shape-rendering: geometricPrecision;
          transition: all 0.4s;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: all .5s;
      
      nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: all .5s;

        & > * {
          cursor: pointer;
        }

        .last {
          position: relative;
          // margin-right: 20px;
          button {
            cursor: pointer;
            margin-left: 10px;
            padding: 0 !important;
            font-size: 1.25rem;
            background-color: transparent;
            color: $black;
            transition: all .2s;
            &:hover {
              transform: scale(1.25);
            }
          }
        }

        .about-menu {
          @include flexCenter;
          position: absolute;
          right: -35vh;
          justify-content: space-evenly;
          height: var(--contentMargin);
          width: 35vh;
          background-color: $black;
          text-align: center;
          a {
            margin: 0;
          }
          span {
            text-align: center;
            color: $white !important;
            font-weight: 200;
            transition: all .2s;
            &:hover {
              color: $pink;
              font-weight: 700;
            }
          }
          & .shade {
            @include pseudoShade($white);
            top: 0;
            left: -1%;
            // opacity: 0;
            transform-origin: right;
            right: 0 !important;
            width: 102%;
          }
        }

        a {
          margin: 0 20px;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          font-size: var(--baseFontSize);
          font-weight: 700;
          color: $black;
        }
      }

      .PA-square {
        cursor: pointer;
        z-index: $honeyBee;
        height: var(--contentMargin);
        width: var(--contentMargin);
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;

        &.open {
          z-index: $sparrow;
          background-color: $black;
          margin-left: unset;
        }

        &:hover {
          background-color: $turquoise;
        }

        svg {
          height: 3.8vh;
        }
      }
    }
  }
}
