.header {
  position: fixed;
  z-index: $condor;
  top: 0;
  height: var(--contentMargin);
  width: 100%;
  background-color: #fff;

  @include media("<=tablet") {
    display: none;
  }

  .inner-header {
    height: var(--contentMargin);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      .nav-header {
        @include media("<=tablet") {
          display: none;
        }

        font-size: var(--mFontSize);
        letter-spacing: var(--xSpaced);

        .racing {
          font-weight: 200 !important;
        }
      }

      .logo {
        height: var(--contentMargin);
        width: var(--contentMargin);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          transform: translateY(1vh) scale(.75);
          &:hover {
            path {
              stroke: black;
              stroke-width: 1px;
              fill-opacity: 1;
            }
          }
        }
        path {
          shape-rendering: geometricPrecision;
          transition: all .4s;
        }
      }
    }

    .navigation {

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      nav {
        & > * {
          cursor: pointer;
        }

        a {
          margin: 0 20px ;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          font-size: var(--baseFontSize);
          font-weight: 700;
          color: $black;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .PA-square {
        cursor: pointer;
        margin-left: 40px;
        height: var(--contentMargin);
        width: var(--contentMargin);
        background-color: $pink;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;

        &.open {
          z-index: $sparrow;
          background-color: $black;
          margin-left: unset;
        }

        &:hover {
          background-color: $turquoise;
        }

        svg {
          height: 3.8vh;
        }
      }
    }
  }
}