// Hero loading shade
.vp-shade {
  @include flexCenter;
  position: fixed;
  z-index: $falcon;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  svg {
    height: 8vh;
    opacity: .1;
  }

  &.black {
    background-color: black;
    path {
      fill: $white;
    }
  }
  
  &.white {
    background-color: $white;
    path {
      fill: $black;
    }
  }

}


// Hero Section
.hero {
  z-index: $groundLevel;
  grid-area: content;
  position: relative;
  height: 120vh;
  width: 100%;
  margin-top: var(--contentMargin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $white;

  @include media("<=tablet") {
    height: unset;
    width: 100vw;
    margin-top: 0;
    justify-content: center;
    background-color: $black;
  }

  .hero-grid {
    position: relative;
    height: 75vh;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left center right";

    @include media("<=tablet") {
      height: 100%;
      width: 100vw;
      gap: var(--mVh);
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, calc((var(--mVh) * 98) / 3));
      grid-template-areas: 
        "left"
        "center"
        "right"
      ;
    }

    .hero-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9;
      height: 4rem !important;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-title;
      font-size: var(--smHeaderFontSize);
      font-weight: 500;
      letter-spacing: 25px;
      color: $white;
      
      @include media("<=tablet") {
        left: 0;
        top: 0;
        transform: translate(0%, 0%);
        width: 100vw !important;
        height: 100% !important;
        letter-spacing: 20px;
        font-weight: 600;

        span {
          @include flexCenter;
          font-size: var(--mFontSize);
          height: 100%;
          width: 100%;
          transform: translateX(12px);
        }
      }

      &.right {
        letter-spacing: 20px;
      }
    }

    .photo {
      position: relative;
      height: 75vh;
      width: 100%;

      @include media("<=tablet") {
        height: 100%;
        width: 100vw;
      }

      .shade {
        z-index: 9;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $blackTr2;
      }

      div {
        height: 100%;
        width: 100%;
      }
    }

    .hero-center {
      grid-area: center;
      position: relative;
    }

    .hero-small {
      position: relative;

      &.left {
        grid-area: left;
      }

      &.right {
        grid-area: right;
      }
    }
  }

  .scroll {
    @include media("<=tablet") {
      display: none;
    }

    height: var(--contentMargin);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $black;

    &-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {
        svg {
          transition: all .4s;
          path {
            fill: $black;
            text-shadow: 1.5px 1.5px 0 $turquoiseTr,
            3px 3px 0 $pink;
          }
        }
      }
    }
    
    & > * {
      cursor: pointer;
    }

    svg {
      height: 30px;
      width: 30px;
      margin-right: 1rem;
      stroke: $black;
      
      path {
        transition: all .2s;
        fill: transparent;
      }
    }
  }

  .fixed-link {
    display: none;
    position: fixed;
    position: absolute;
    z-index: 99 ;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%) rotate(-90deg);
    font-size: .875rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    color: $white;
    mix-blend-mode: difference;


    &:hover {

      // & ~ .chevron {
      //   transform: translateY(-50%) translateX(3px);
      //   stroke: 1px;
      // }
    }
  }

  .chevron {
    display: none;
    position: fixed;
    position: absolute;
    z-index: 9;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    mix-blend-mode: difference;
    transition: all .4s;
    
    path {
      fill: white;
    }

    // &:hover {
    //   transform: translateY(-50%) translateX(3px);
    // }
  }
}