// Hero Section

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .hero-grid {
    position: relative;
    height: 55vh;
    width: 80vw;
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "left center right";

    .hero-text {
      position: absolute;
      z-index: 9;
      width: 90vw;
      top: 50%;
      left: 50%;
      transform: translate(-49.5%, -50%);
      text-align: center;
      // mix-blend-mode: difference;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 100;
      letter-spacing: 20px;
      color: white;
      color: rgba(172, 236, 255, 0.95);
      color: #6beeff;
      color: #00E0FF;
      color: black;

      &.center {
        color: white;
        mix-blend-mode: screen;
        font-weight: 400;
      }

      &.upper {
        display: none;
        opacity: .15;
        top: 15%;
      }

      &.lower {
        color: #adadad;
        color: #8feeff;
        color: #ff99c9;
        display: none;
        opacity: .15;
        top: 85%;
      }

      @media(max-width: 1440px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }

      @media(max-width: 1280px) {
        font-size: 3.5rem;
        letter-spacing: 24px;
      }
    }

    .photo {

      div {
        height: 100%;
        width: 100%;
      }
    }

    .hero-center {
      grid-area: center;

      @media(max-width: 1440px) {
        width: 436px;
      }
    }

    .hero-small {
      @media(max-width: 1440px) {
        width: 208px;
      }

      &.left {
        grid-area: left;

        @media(max-width: 1440px) {
          left: 128px;
        }
      }

      &.right {
        grid-area: right;

        @media(max-width: 1440px) {
          right: 128px;
        }
      }
    }
  }

  .scroll {
    cursor: pointer;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    transform: translateY(50%);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $black;
  }

  .fixed-link {
    position: fixed;
    position: absolute;
    z-index: 99 ;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%) rotate(-90deg);
    font-size: .875rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: $black;
    color: $white;
    mix-blend-mode: difference;

    @media(max-width: 1440px) {
      right: 15px;
      font-size: 0.875rem;
    }

    &:hover {

      & ~ .chevron {
        transform: translateY(-50%) translateX(3px);
        stroke: 1px;
      }
    }
  }

  .chevron {
    position: fixed;
    position: absolute;
    z-index: 9;
    height: 20px;
    width: 20px;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    mix-blend-mode: difference;
    transition: all .4s;
    
    path {
      fill: white;
    }

    &:hover {
      transform: translateY(-50%) translateX(3px);
    }
  }
}