.layout {
  width: 100%;
  z-index: 999;

  &-main {
    position: relative;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns:
      var(--contentMargin) calc(100vw - (var(--contentMargin) * 2))
      var(--contentMargin);
    grid-template-rows: 1fr;
    grid-template-areas: "marginL content marginR";

    &::-webkit-scrollbar {
      display: none !important;
    }
    &::-webkit-scrollbar-thumb {
      display: none !important;
    }
    ::-webkit-scrollbar {
      display: none !important;
    }
    ::-webkit-scrollbar-thumb {
      display: none !important;
    }

    @include media("<=tablet") {
      background-color: $black;
      grid-template-columns: 1fr;
      grid-template-columns: 100vh;
      grid-template-areas: "content";
    }

    .layout-left {
      @include media("<=tablet") {
        display: none;
      }
      overflow: hidden;
      mix-blend-mode: difference !important;
      position: fixed;
      left: 0;
      height: calc(100vh - var(--contentMargin));
      width: var(--contentMargin);
      margin-top: var(--contentMargin);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 99;

      .section-label-wrapper {
        @include flexCenter;
      }

      .section-label {
        transform: rotate(90deg);
        width: calc(var(--contentMargin) * 2);
        margin-top: calc(var(--contentMargin) * 1.5);
        text-transform: uppercase;
        letter-spacing: var(--FourXSpaced);
        font-size: var(--mFontSize);
        color: $grey;
        // opacity: .5;
      }

      .social-icons {
        @include flexCenterCol;
        height: 20%;
        margin-bottom: 2rem;
      }
      .icon-wrapper {
        @include flexCenter;
        height: 50%;
        position: relative;

        .social-icon {
          cursor: pointer;

          &:hover {
            & ~ svg.pink {
              top: calc(50% + 3.5px) !important;
              left: calc(50% + 3.5px) !important;

              path {
                fill: $pink;
              }
            }
            & ~ svg.turquoise {
              top: calc(50% + 1.75px) !important;
              left: calc(50% + 1.75px) !important;
              path {
                fill: $turquoise;
              }
            }
          }
        }

        .shadow {
          position: absolute;
          z-index: -1;
          opacity: 0.75;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.2s;

          &.pink {
            path {
              fill: transparent;
            }
          }
          &.turquoise {
            path {
              fill: transparent;
            }
          }
        }
      }
    }

    .content-container {
      grid-area: content;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include media("<=tablet") {
        width: 100vw;
      }
    }

    .fixed-link {
      @include media("<=tablet") {
        display: none;
      }

      position: fixed;
      right: 0;
      height: calc(100vh - var(--contentMargin));
      width: var(--contentMargin);
      margin-top: var(--contentMargin);
      display: grid;
      align-items: center;
      justify-content: center;

      .text {
        z-index: 9999;
        display: flex;
        transform: rotate(-90deg) translateY(-0.25rem);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: var(--baseFontSize);
        text-shadow: 1.5px 1.5px 0 transparent, 3px 3px 0 transparent;
        transition: all 0.2s;

        &:hover {
          svg {
            transition: all 0.4s;
            path {
              fill: $black;
            }
          }
        }

        svg {
          height: 30px;
          width: 30px;
          // margin-right: 1rem;
          stroke: $black;

          path {
            transition: all 0.2s;
            fill: transparent;
          }
        }
      }
    }
  }

  .mm-trigger {
    position: absolute;
    z-index: $falcon;
    top: 0;
    height: 20vh;
    width: 100vw;
    opacity: 0;
  }

  .vp-triggers {
    position: relative;
    z-index: 999999;
    width: 100%;
    display: flex;

    .extension {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: transparent;
      width: 20px;

      &--about {
        height: 400vh;
        // background-color: deeppink;
      }
      &--sponsors {
        height: 275vh;
        // background-color: deepskyblue;
      }
      &--events {
        height: 175vh;
        // background-color: lightgreen;
      }
      &--contact {
        height: 50vh;
        // background-color: goldenrod;
      }
    }
  }
}

.custom-cursor {
  z-index: 999999999999999;
  position: fixed;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  isolation: isolate;
  .dot {
    height: 4px;
    width: 4px;
    background-color: $black;
    border-radius: 999px;
    transform: translate3d(0, 0, 0);
    transition: height 0.2s, width 0.2s, border 0.2s, background-color 0.2s;
    &.focused {
      border: none;
      height: 15px;
      width: 15px;
      background-color: $pink;
      mix-blend-mode: difference;
      background-blend-mode: difference;
    }
  }
  @media (max-width: 1024px) {
    display: none;
  }
}

.ring {
  pointer-events: none;
  z-index: 999999999999999;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  border: 1px solid $black;
  border-radius: 999px;
  transition: $transition-1-smooth;
  &.focused {
    border-color: $pink;
    opacity: 0.5;
    top: 20px;
    left: 20px;
    height: 40px;
    width: 40px;
  }
   @media (max-width: 1024px) {
    display: none;
  }
}