.layout {
  width: 100%;
  z-index: 999;

  &-main {
    position: relative;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: var(--contentMargin) calc(100vw - (var(--contentMargin) * 2)) var(--contentMargin);
    grid-template-rows: 1fr;
    grid-template-areas: 
      "marginL content marginR"
    ;

    @include media("<=tablet") {
      background-color: $black;
      grid-template-columns: 1fr;
      grid-template-columns: 100vh;
      grid-template-areas: "content";
    }

    .social-icons {
      @include media("<=tablet") {
        display: none;
      }

      mix-blend-mode: difference  !important;
      position: fixed;
      left: 0;
      height: 87.5vh;
      width: var(--contentMargin);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      z-index: 99;

      .icon-wrapper {
        height: 15%;
        position: relative;

        .social-icon {
          cursor: pointer;

          &:hover {
            & ~ svg.pink {
              top: 3.5px !important;
              left: 3.5px !important;
              path {
                fill: $pink;
              }
            }
            & ~ svg.turquoise {
              top: 1.75px !important;
              left: 1.75px !important;
              path {
                fill: $turquoise;
              }
            }
          }
        }

        .shadow {
          position: absolute;
          z-index: -1;
          opacity: 0.75;
          top: 0;
          left: 0;
          transition: all .2s;
          
          &.pink {
              path {
              fill: transparent;
            }
          }
          &.turquoise {
              path {
              fill: transparent;
            }
          }
        }
      }
    }

    .content-container {
      grid-area: content;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      @include media("<=tablet") {
        width: 100vw;
      }
    }

    .fixed-link {
      @include media("<=tablet") {
        display: none;
      }

      position: fixed;
      right: 0;
      height: 100vh;
      width: var(--contentMargin);
      display: grid;
      align-items: center;
      justify-content: center;

      .text {
        z-index: 9999;
        display: flex;
        transform: rotate(-90deg) translateY(-.25rem);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: var(--baseFontSize);
        font-weight: 700;
        text-shadow: 1.5px 1.5px 0 transparent, 3px 3px 0 transparent;
        transition: all .2s;

        &:hover {
          svg {
          transition: all .4s;
            path {
              fill: $black;
            }
          }
        }

        svg {
          height: 30px;
          width: 30px;
          // margin-right: 1rem;
          stroke: $black;
          
          path {
            transition: all .2s;
            fill: transparent;
          }
        }
      }
    }
  }

  .mm-trigger {
    position: absolute;
    z-index: $falcon;
    top: 0;
    height: 20vh;
    width: 100vw;
    opacity: 0;
  }

  .vp-triggers {
      position: relative;
      z-index: 999999;
      width: 100%;
      display: flex;

      .extension {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: transparent;
        width: 20px;
        
        &--about {
          height: 250vh;
        }

        &--sponsors {
          height: 150vh;
        }
      }
  }
}