.pa-modal {
  z-index: $honeyBee;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30%;
  background-color: $turquoiseTr3;
  overflow: hidden;

  .close-btn {
    cursor: pointer;
    position: absolute;
    color: $blackTr2;
    top: calc((var(--contentMargin) / 3) + 50%);
    // top: 50%;
    left: -6px;
    transform: scaleY(3);
    font-size: var(--xLgFontSize);
    transition: all .2s;

    &:hover {
      color: $black;
    }
  }

  .pa-img {
    @include flexCenter;
    position: relative;
    justify-content: flex-start;
    height: var(--contentMargin);
    max-height: var(--contentMargin);
    overflow: hidden;

    svg {
      @include absoluteCentered;
      z-index: $sparrow;
      // padding-right: 100px; 
      transform: scale(1.25) translate(-50%, -50%);

      path {
        fill: $white;
      }
    }

    div {
      height: var(--contentMargin);
      width: calc(100% - var(--contentMargin));

      &::after {
        @include pseudoShade($blackTr2);
      }
    }

    img {
      object-position: center !important;
    }

   
  }

  .modal-content {
    @include flexCenterCol;
    height: calc(100% - var(--contentMargin));
    width: 100%;
    justify-content: space-evenly;
  }
  
  .modal-blurb {
    @include flexCenterCol;
    width: 80%;
    justify-content: space-evenly;
    text-align: center;
    font-size: var(--baseFontSize);
    letter-spacing: var(--spaced);
    font-weight: 500;
  }

  .certifications {
    @include flexCenter;
    flex-wrap: wrap;
    width: 60%;

    img {
      width: 120px;
    }
  }

  .hashtag {
    text-transform: uppercase;
    font-weight: 400;
    color: $greyDark2;
    opacity: .4;
    font-size: var(--mLgFontSize);
    letter-spacing: var(--TwoXSpaced);
  }

  .toPA-button {
    cursor: pointer;
    position: relative;
    padding: 1rem 3rem;
    background-color: transparent;
    border: 2px solid transparent;
    color: $turquoise;
    letter-spacing: var(--TwoXSpaced);
    
    &:hover {
      color: $greyDark2;
      border: 2px solid $greyDark2;

      &::after {
        width: 0;
      }
    }

    &::after {
      @include pseudoShade($greyDark2);
      z-index: -1;
      height: calc(100% + 2px);
      transition: all ease-out .3s;
    }
  }
}