.sponsor {
  @include flexCenter;
  position: relative;
  min-width: 20vw;
  // min-width: calc(20vw - (2 * var(--photoGap)));
  height: 100%;
  box-sizing: border-box !important;
  // background-color: $pink;
  border: var(--photoGap) solid $turquoise;
  border-top: none;
  border-bottom: none;
  transition: all 1s;
  transition: border .2s;

  @include media("<=tablet") {
    background-color: $black;
    min-width: unset; 
    height: 100%;
    width: 100%;
  }

  &.active {
    min-width: 80vw;
    transition: all 1s;
    border: var(--photoGap) solid white;
    border-top: none;
    border-bottom: none;
  }

  .shade {
    @include flexCenter;
    position: absolute;
    top: 0;
    z-index: 9;
    height: calc(150% - 30vh);
    width: calc(100% + 2px);
    background-color: $turquoise;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    border-top: none;
    border-bottom: none;
    padding-top: 30vh;
    align-items: flex-start;
    transition: all .2s;

    &-exp {
      @include flexCenter;
      clip-path: unset;
      position: absolute;
      z-index: 9;
      transform: translateY(-50%);
      top: 50%;
      left: 0;
      height: 100%;
      width: 17vw;
      background-color: $pinkTr;

      svg {
        height: 10vh;
        fill: $white;
      }
    }

    &-logo {
      transition: all .2s;

      svg {
        height: 10vh;

        path {
          fill: $black;
        }
      }
    }
  }

  .blurb-area {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(63vw - (var(--photoGap) * 2));
    display: grid;
    grid-template-rows: 1fr .25fr;
    align-items: center;
    justify-content: center;
    background-color: $blackTr2;
  }

  .blurb-text {
    @include flexCenter;
    width: 100%;
    // height: 60%;
    color: $white;
    font-size: var(--smFontSize) !important;
    transition: all .4s;

    p {
      width: 75%;
    }
  }

  .visit-button-wrapper {
    @include flexCenter;
    padding: 1rem;
    width: 100%;
  }

  .visit-button {
    @include flexCenter;
    justify-content: space-evenly;
    padding: 0 5rem;
    width: 40%;
    background-color: $blackTr2;
    border: 2px solid $white;
    font-size: var(--mLgFontSize);
    transition: all .2s;
    
    &:hover {
      background-color: $black;
      border: 2px solid $pink;
    }

    p {
      transform: translateY(1px);
    }

    span {
      transform: scaleY(2) translateY(-2px);
      transform-origin: center;
    }

    svg {
      // transform: translateY(-2px);
      height: 5vh;
      fill: $white;
    }
  }

  .image-wrapper {
    height: 100%;
    width: 100%;
    z-index: 8;
    display: flex;
    align-items: flex-end;

    div {
      height: 60%;
      width: 100%;
      transition: all .5s;
    }

    &.exp {
      div {
        height: 100% !important;
        width: 100% !important;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  
  &:hover {
    z-index: 99;
    border: var(--photoGap) solid white;
    border-bottom: none;
    border-top: none;

    .shade {
      transform: translate(.5px, -60vh);
      width: calc(100% + 1.5px);
      background-color: $pink;
    }

    .shade-logo {
      transform: translateY(40vh);
    }
  }
}

.mobile-sponsor {
  @include flexCenter;
  height: 100%;
  width: 100%;
  background-color: $pink;
  transition: all .2s;

  svg {
    width: 60% !important;
    transform: unset !important;
  }

  path {
    fill: $black;
  }
}