.sponsors-container {
  @include flexCenter;
  grid-area: content;
  position: relative;
  margin: var(--contentMargin) 0;
  height: 87.5vh;

  .absolute-wrapper {
    @include absoluteWrapper;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
      width: 0px;
      height: 2px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      height: 2px;
      background-color: $blackTr2;
    }
  }

  .flex-wrapper {
    @include flexWrapper;
    
    // & > *:not(:last-child) {
    //   margin-right: 17px;
    // }
  }
}