.sponsors-container {
  @include flexCenter;
  grid-area: content;
  position: relative;
  margin: var(--contentMargin) 0;
  height: 87.5vh;

  .absolute-wrapper {
    @include absoluteWrapper;
    overflow-y: hidden;
    transition: all .2s;
    
    &::-webkit-scrollbar {
      width: 0px;
      height: 2px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      height: 2px;
      background-color: $blackTr2;
    }
  }

  .flex-wrapper {
    @include flexWrapper;
    
    // & > *:not(:last-child) {
    //   margin-right: 17px;
    // }
  }
}

.mobile-sponsors {
  grid-area: content;
  position: relative;
  margin-bottom: 20vh;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 49.5vw);
  grid-template-rows: repeat(3, calc(var(--mVh) * 50));

  .expanded-sponsor {
    @include flexCenterCol;
    @include useMvh(height, 100);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: flex-start;
    background-color: $black;

    &__header {
      @include flexCenter;
      @include useMvh(height, 15);
      z-index: $falcon;
      height: 15vh;
      width: 100vw;
      background-color: $black;

      svg {
        transform: scale(.6) !important;
        padding: 1vh;
        margin: 0 !important;
      }
    }

    &__body {
      position: absolute;
      @include useMvh(height, 85);
      @include useMvh(margin-top, 15);
      width: 100%;
      height: 85vh;
      margin-top: 15vh;
    }

    &__content {
      @include flexCenterCol;
      justify-content: space-between;
      z-index: $sparrow;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      
      padding: 0 5vw;
      color: $white;

      .blurb-text {
        @include scrollBarVert(2px, $white, $whiteTr2);
        @include useMvh(height, 50);
        @include useMvh(margin-top, 2.5);
        height: 50vh;
        margin-top: 2.5vh;
        padding: 2.5vw;
        border-radius: 5px 0 0 5px;
        overflow-y: scroll;
        background-color: $blackTr2;
      }

      .visit-button {
        @include flexCenter;
        @include useMvh(height, 9);
        @include useMvh(margin-top, 2);
        width: 100%;
        height: 9vh;
        margin-top: 2vh;
        border: 1px solid $white;

        span {
          padding: .5vh 0;
          text-transform: uppercase;
        }
        
      }

      .close-btn-wrapper {
        @include flexCenter;
        height: 10vh;
        svg {
          height: 60%;
        }
        path {
          fill: $whiteTr1;
        }
      }
    }

    .bg-img {
      height: 100%;
      div {
        height: 100%;
        &::after {
          @include pseudoShade($blackTr2);
        }
      }
    }

    path {
      fill: $white;
    }
  }
}