.sponsors-band {
  height: 30vh;
  width: 100vw;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;

  .flex-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo-wrapper {
      height: 15%;

      &.white {
        path {
          fill: $white;
        }
      }
    }

    svg {
      height: 100%;
    }
  }
}