.sponsor {
  @include flexCenter;
  position: relative;
  min-width: 20vw;
  // min-width: calc(20vw - (2 * var(--photoGap)));
  height: 100%;
  box-sizing: border-box !important;
  background-color: $pink;
  border: var(--photoGap) solid $turquoise;
  border-top: none;
  border-bottom: none;
  transition: all .1s;

  .shade {
    @include flexCenter;
    position: absolute;
    top: 0;
    z-index: 9;
    height: calc(150% - 30vh);
    width: calc(100% + 2px);
    background-color: $turquoise;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    border-top: none;
    border-bottom: none;
    padding-top: 30vh;
    align-items: flex-start;


    transition: all .2s;

    &-logo {
      transition: all .2s;
    }
    
    svg {
      height: 100px;
    }
  }

  .image-wrapper {
    height: 100%;
    width: 100%;
    z-index: 8;
    display: flex;
    align-items: flex-end;

    div {
      height: 60%;
      width: 100%;
    }

    img {
      // height: 40%;
      // width: 75%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  
  &.hovered {
    z-index: 99;
    border: var(--photoGap) solid white;
    border-bottom: none;
    border-top: none;

    .shade {
      transform: translate(.5px, -60vh);
      width: calc(100% + 1.5px);
      background-color: $pink;
    }

    .shade-logo {
      transform: translateY(40vh);

    }
  }
}