.sponsors-container {
  @include flexCenter;
  grid-area: content;
  position: relative;
  margin: var(--contentMargin) 0;
  height: 87.5vh;

  .absolute-wrapper {
    @include absoluteWrapper;
    overflow-y: hidden;
    
    &::-webkit-scrollbar {
      width: 0px;
      height: 2px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      height: 2px;
      background-color: $blackTr2;
    }
  }

  .flex-wrapper {
    @include flexWrapper;
    
    // & > *:not(:last-child) {
    //   margin-right: 17px;
    // }
  }
}

.mobile-sponsors {
  grid-area: content;
  position: relative;
  margin-bottom: 20vh;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 49.5vw);
  grid-template-rows: repeat(3, 50vh);

  .expanded-sponsor {
    @include flexCenterCol;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: $black;

    path {
      fill: $white;
    }
  }
}