@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

$font-primary: 'Palanquin', "Helvetica Neue", Helvetica, sans-serif;;

/*

4.768rem
3.815rem
3.052rem
2.441rem
1.953rem
1.563rem
1.25rem
1rem
0.8rem

*/

:root {
  // Font Sizes
  --heroFontSize: 4.768rem;
  --headerFontSize: 3.815rem;
  --smHeaderFontSize: 3.052rem;
  --xLgFontSize: 2.441rem;
  --lgFontSize: 1.953rem;
  --mLgFontSize: 1.563rem;
  --mFontSize: 1.25rem;
  --baseFontSize: 1rem;
  --smFontSize: 0.8rem;

  // Text Mods
  --smSpaced: .5px;
  --spaced: 1.5px;
  --xSpaced: 2px;
  --TwoXSpaced: 4.5px;

  // Spacing
  --photoGap: 17px;
  --paraLineHeight: 2.441rem;
}

// Colors
$white: rgb(255, 255, 255);
$whiteTr: rgba(255, 255, 255, 0.5);
$off-white: rgb(240, 240, 240);

$greyLight: rgb(190, 190, 190);
$grey: rgb(149, 149, 149);
$greyDark: rgb(95, 95, 95);

$black: rgb(20, 20, 20);
$blackTr: rgba(20, 20, 20, 0.65);
$blackTr2: rgba(20, 20, 20, 0.35);

$textPrimary: rgb(39, 39, 39);
$textPrimaryTr: rgba(39, 39, 39, 0.7);

$turquoise:rgb(77, 238, 254);
$turquoiseTr:rgba(77, 239, 254, 0.6);

$pink: rgb(248, 201, 233);

html, 
body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: var(--smSpaced);
  color: $textPrimary;
  margin: 0;
  padding: 0;
  background-color: $white;

  
  ::-webkit-scrollbar {
    width: 0px;
    background-color: $black;
  }
  ::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: $white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 1rem 2rem;
  border: none;
  color: $white;
  background-color: $black;
  font-size: var(--baseFontSize);
  font-weight: 500;
  letter-spacing: var(--spaced);
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-shadows {
  transition: all .2s;
  
  &:hover {
    color: $black !important;
    mix-blend-mode: unset !important;
    text-shadow: 1.5px 1.5px 0 $turquoiseTr,
                 3px 3px 0 $pink
    !important;
  }
}


// Layout & Base
@import './header.scss';
@import './layout.scss';
@import './sponsors-band.scss';
@import './footer.scss';

// Sections & Pages
@import './hero-grid.scss';
@import './about.scss';
@import './team.scss';
@import './supporter-kit.scss';
@import './video.scss';
@import './gallery.scss';

// Small Components
@import './small-components/buttons.scss';