// + SASS & CSS Variables + //

// Sass Utility Imports
@import './sass-utilities/vairables.scss';
@import './sass-utilities/mixins.scss';
@import './vendor/include-media.scss';

/*
+ Breakpoints +

<mQs look like this:

> @include media("<=tablet") {
  -margin-right: 24px;
}

< current breakpoint settings are:

> $breakpoints: (
  -"phoneSmall": 350px,
  -"phone": 425px,
  -"tabletSmall": 768px,
  -"tablet": 1025px,
  -"tabletPort": 1366px,
  -"desktop": 1440px,
  -"LGdesktop": 1920px
)

*/

:root {
  // Colors
  --turquoise: rgb(77, 238, 254);
  --pink: rgb(248, 201, 233);

  --black: rgb(20, 20, 20);
  --blackTr2: rgba(20, 20, 20, .35);

  // Font Sizes
  --heroFontSize: 4.768rem;
  --headerFontSize: 3.815rem;
  --smHeaderFontSize: 3.052rem;
  --xLgFontSize: 2.441rem;
  --lgFontSize: 1.953rem;
  --mLgFontSize: 1.563rem;
  --mFontSize: 1.25rem;
  --baseFontSize: 1rem;
  --smFontSize: 0.8rem;
  --xSmFontSize: 0.64rem;

  // Text Mods
  --smSpaced: 1px;
  --spaced: 1.5px;
  --xSpaced: 2px;
  --TwoXSpaced: 4.5px;
  --FourXSpaced: 9px;

  // Spacing
  --photoGap: 17px;
  --paraLineHeightSpread: var(--xLgFontSize);
  --paraLineHeightBase: var(--lgFontSize);
  --paraLineHeightCond: var(--mLgFontSize);
  --contentMargin: 13.5vh;

  // Breakpoints
  --phone: 425px;
  --tabletSmall: 768px;
  --tablet: 1025px;
  --tabletPort: 1366px;
  --desktop: 1440px;
  --LGdesktop: 1920px;


  @include media("<=tablet") {
    --contentMargin: calc(10 * var(--mVh));
  }

}



// + Resets & Defaults + //

html, 
body {
  font-family: $font-primary;
  font-size: 1em;
  // font-weight: 500;
  letter-spacing: var(--smSpaced);
  color: $textPrimary;
  margin: 0;
  padding: 0;
  background-color: $white;

  
  ::-webkit-scrollbar {
    width: 0px;
    background-color: $black;
  }
  ::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: $white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 1rem 2rem;
  border: none;
  color: $white;
  background-color: $black;
  font-size: var(--baseFontSize);
  font-weight: 500;
  letter-spacing: var(--spaced);
}



// + Utility Classes + //

// Wrappers
.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Typography
.hover-shadows {
  transition: all .2s;
  
  &:hover {
    color: $black !important;
    mix-blend-mode: unset !important;
    text-shadow: 1.5px 1.5px 0 $turquoiseTr,
                 3px 3px 0 $pink
    !important;
  }
}



// + Style Component Imports + //

// Layout & Base
@import './header.scss';
@import './layout.scss';
@import './sponsors-band.scss';
@import './footer.scss';
@import './mobile-menu.scss';

// Sections & Pages
@import './hero-grid.scss';
@import './about.scss';
@import './team.scss';
@import './team-member.scss';
@import './sponsors.scss';
@import './sponsor-individual.scss';
@import './supporter-kit.scss';
@import './contact.scss';
@import './gallery.scss';

// Small Components
@import './pa-modal.scss';
@import './small-components/buttons.scss';

