@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

$font-primary: 'Palanquin', "Helvetica Neue", Helvetica, sans-serif;;


// Colors
$white: rgb(255, 255, 255);
$off-white: rgb(240, 240, 240);

$greyLight: rgb(190, 190, 190);
$grey: rgb(149, 149, 149);
$greyDark: rgb(95, 95, 95);

$black: rgb(20, 20, 20);
$blackTr: rgba(20, 20, 20, 0.65);

$turquoise:rgb(77, 238, 254);
$turquoiseTr:rgba(77, 239, 254, 0.6);

$pink: rgb(248, 201, 233);

html, 
body {
  font-family: $font-primary;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: $white;

  
  ::-webkit-scrollbar {
    width: 0px;
    background-color: $black;
  }
  ::-webkit-scrollbar-thumb {
    width: 0px;
    background-color: $white;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-shadows {
  transition: all .2s;

  &:hover {
    text-shadow: 1.5px 1.5px 0 $turquoiseTr,
                 3px 3px 0 $pink
    ;
  }
}



@import './header.scss';
@import './layout.scss';
@import './sponsors-band.scss';
@import './footer.scss';
@import './hero-grid.scss';
@import './about.scss';
@import './video.scss';
@import './gallery.scss';