.team-container {
  grid-area: content;
  position: relative;
  margin: 12.5vh 0;
  height: 87.5vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  .absolute-wrapper {
    z-index: 999;
    overflow-x: scroll;
    position: absolute;
    height: 75vh;
    width: 100vw;
    top: 0;

    &::-webkit-scrollbar {
      width: 0px;
      height: 2px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      height: 2px;
      background-color: $pink;
    }
  }

  .flex-wrapper {
    height: 100%;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & > *:not(:last-child) {
      margin-right: 17px;
    }
  }
}