// + Mixins + //

//////////////////// > Typography > ////////////////////////
@mixin displayText($color) {
  text-transform: uppercase;
  text-align: center;
  color: $color;
  font-weight: 500;
  letter-spacing: var(--TwoXSpaced);
  font-size: var(--mFontSize);
}

@mixin paragraphText($color) {
  line-height: var(--paraLineHeightBase);
  font-size: var(--baseFontSize);
  font-weight: 500;
  color: $color;
}

@mixin paragraphTextCondensed($color) {
  line-height: var(--paraLineHeightCond);
  font-size: 10px !important;
  font-weight: 300;
  color: $color;
}


//////////////////// > Pseudos > ////////////////////////
@mixin pseudoShade($color) {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color;
}

@mixin pseudoBorderBottom($width, $color) {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 3px;
  width: $width;
  background-color: $color;
}

@mixin scrollBarVert($width, $thumbCol, $trackCol) {
  &::-webkit-scrollbar-thumb {
    width: $width;
    background-color: $thumbCol;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: $width;
    background-color: $trackCol;
    border-radius: 10px;
  }

}

@mixin scrollBarLat($height, $thumbCol, $trackCol) {
  &::-webkit-scrollbar-thumb {
    height: $height;
    background-color: $thumbCol;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    height: $height;
    background-color: $trackCol;
    border-radius: 10px;
  }

}

//////////////////// > Positioning > ////////////////////////
@mixin absoluteCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



//////////////////// > FLEX > //////////////////////// Positioning
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterFull {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColLeftFull {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



//////////////////// > Wrappers > ////////////////////////

@mixin absoluteWrapper {
  z-index: 99;
  overflow-x: scroll;
  position: absolute;
  height: 75vh;
  width: 100vw;
  top: 0;
}

@mixin flexWrapper {  
  height: 100%;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


//////////////////// > Sizing Functions > ////////////////////////

@mixin useMvh($prop, $factor) {
  #{$prop}: calc(var(--mVh) * #{$factor})
}



//////////////////// > Grid Layouts > ////////////////////////

@mixin galleryDeskGrid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: var(--contentMargin) repeat(60, 6vh);
  gap: 16px;
  grid-template-areas: 
    "sp  sp  sp  sp"
    /*s1*/
    "p1  p3  p6  p8"
    "p1  p3  p6  p8"
    "p1  p3  p6  p8"
    "p1  p3  p6  p9"
    "p1  p4  p6  p9"
    "p1  p4  p6  p9"
    "p2  p4  p7  p9"
    "p2  p4  p7  p9"
    "p2  p5  p7  p9"
    "p2  p5  p7  p16"
    "p2  p5  p7  p16"
    "p2  p5  p7  p16"
    /*s2*/
    "p10 p5  p14 p16"
    "p10 p5  p14 p16"
    "p10 p5  p14 p16"
    "p10 p12 p14 p16"
    "p10 p12 p14 p17"
    "p10 p12 p14 p17"
    "p10 p12 p15 p17"
    "p10 p12 p15 p17"
    "p10 p12 p15 p18"
    "p11 p13 p15 p18"
    "p11 p13 p15 p18"
    "p11 p13 p15 p18"
    /*s3*/
    "p19 p13 p22 p24"
    "p19 p13 p22 p24"
    "p19 p13 p22 p24"
    "p19 p21 p22 p25"
    "p20 p21 p22 p25"
    "p20 p21 p22 p25"
    "p20 p21 p22 p25"
    "p20 p21 p22 p25"
    "p26 p21 p22 p25"
    "p26 p28 p23 p25"
    "p26 p28 p23 p25"
    "p26 p28 p23 p25"
    /*s4*/
    "p26 p28 p30 p32"
    "p26 p28 p30 p32"
    "p26 p28 p30 p32"
    "p26 p29 p30 p32"
    "p26 p29 p31 p33"
    "p27 p29 p31 p33"
    "p27 p29 p31 p33"
    "p27 p29 p31 p33"
    "p27 p29 p31 p34"
    "p27 p38 p31 p34"
    "p27 p38 p31 p34"
    "p27 p38 p31 p34"
    /*s5*/
    "p35 p38 p41 p34"
    "p35 p38 p41 p34"
    "p35 p38 p41 p34"
    "p35 p39 p41 p34"
    "p36 p39 p41 p43"
    "p36 p39 p41 p43"
    "p36 p40 p41 p43"
    "p36 p40 p41 p43"
    "p37 p40 p42 p43"
    "p37 p40 p42 p43"
    "p37 p40 p42 p43"
    "p37 p40 p42 p43"
  ;
}

@mixin galleryMobileGrid {
  gap: 1vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(64, 11.5vh);
  grid-template-areas: 
    /*s1*/
    "p1 p3"
    "p1 p3"
    "p1 p4"
    "p2 p4"
    "p2 p5"
    "p2 p5"
    /*s2*/
    "p8 p8"
    "p8 p8"
    "p6 p7"
    "p6 p7"
    "p6 p7"
    "p6 p7"
    /*s3*/
    "p11 p9"
    "p11 p9"
    "p13 p9"
    "p13 p10"
    "p12 p10"
    "p12 p10"
    /*s4*/
    "p14 p16"
    "p14 p16"
    "p14 p16"
    "p15 p17"
    "p15 p17"
    "p15 p17"
    /*s5*/
    "p18 p18"
    "p18 p18"
    "p19 p21"
    "p19 p21"
    "p19 p22"
    "p20 p22"
    "p20 p24"
    "p20 p24"
    /*s6*/
    "p23 p23"
    "p23 p23"
    "p25 p27"
    "p25 p27"
    "p25 p27"
    "p26 p28"
    "p26 p28"
    "p26 p28"
    /*s7*/
    "p30 p29"
    "p30 p29"
    "p31 p29"
    "p31 p29"
    "p31 p29"
    "p31 p29"
    /*s8*/
    "p32 p33"
    "p32 p33"
    "p32 p34"
    "p32 p34"
    "p32 p35"
    "p32 p35"
    /*s9*/
    "p38 p36"
    "p38 p36"
    "p38 p37"
    "p38 p37"
    "p39 p37"
    "p39 p37"
    /*s10*/
    "p43 p40"
    "p43 p40"
    "p43 p40"
    "p41 p40"
    "p41 p40"
    "p41 p40"
    "p42 p42"
    "p42 p42"
  ;
}