@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600&display=swap');

// Font Declarations
$font-primary: 'Palanquin', "Helvetica Neue", Helvetica, sans-serif;;
$font-title: 'Spartan', sans-serif;
$font-code: 'JetBrains Mono', monospace;

// Colors
$white: rgb(255, 255, 255);
$whiteTr: rgba(255, 255, 255, 0.5);
$whiteTr1: rgba(255, 255, 255, 0.75);
$whiteTr2: rgba(255, 255, 255, 0.3);
$off-white: rgb(240, 240, 240);

$greyLight: rgb(190, 190, 190);
$grey: rgb(149, 149, 149);
$greyDark: rgb(95, 95, 95);
$greyDark2: rgb(36, 36, 36);
$greyDark2: rgb(36, 36, 36);
$greyDark2Tr: rgba(36, 36, 36, 0.6);

$black: rgb(20, 20, 20);
$blackTr: rgba(20, 20, 20, 0.65);
$blackTr1: rgba(20, 20, 20, 0.8);
$blackTr2: rgba(20, 20, 20, 0.35);

// $turquoise:rgb(77, 238, 254);
// $turquoiseTr:rgba(77, 239, 254, 0.7);
// $turquoiseTr2:rgba(77, 239, 254, 0.1);
// $turquoiseTr3:rgba(77, 239, 254, 0.9);

$turquoise: rgb(77, 219, 254);
$turquoiseTr: rgba(77, 219, 254, 0.6);
$turquoiseTr2: rgba(77, 219, 254, 0.1);
$turquoiseTr3: rgba(77, 219, 254, 0.9);

$pink: rgb(248, 201, 233);
$pinkTr: rgba(248, 201, 233, 0.6);

$menuClr: $turquoise;
$menuAcc: rgb(20, 20, 20);

$menuClr: $white;
$menuAcc: rgb(20, 20, 20);

// Z-Index
$marianaTrench: -300;
$veryovkina: -200;
$belowGround: -100;
$groundLevel: 000;
$honeyBee: 100;
$sparrow: 200;
$falcon: 300;
$condor: 400;
$cessna: 500;
$dreamLiner: 600;
$concorde: 700;
$sr71: 800;
$soyuz: 900;
$ISS: 999;